#accent-popup {
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background: white;
  color: black;
  border: 1px solid black;
  padding: 10px;
  border-radius: 6px;
  z-index: 999999;
  font-size: 18px;
  font-family: sans-serif;
}

.accent-row {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  color: black
}

.accent-option {
  cursor: pointer;
  color: black
}
